@media only screen and (max-width: 480px){
    .header_area .main-menu .navbar,
    .header_area .main-menu .navbar .navbar-brand{
        padding: 2%;
        margin: 0;
    }
    .header_area{
        width: auto;
    }
    
    .center {
        width: 50%;
    }
    .site-main .site-banner .container{
        max-width: 470px;
        display: flex !important;
        text-align: center !important;
        margin: 0;
    }
    .site-main .site-banner .site-title h1{
        font-size: 56px;
    }
    .site-main .site-banner .site-title h4{
        font-size: 25px;
    }
    .site-main .site-banner .site-title p{
        font-size: 13px;
    }
    .site-main .site-banner .banner-image >img{
        padding: 0;
    }

    .site-main .about-area {
        padding: 9rem 0 5rem 0;
    }
    .site-main .about-area .container{
        width: 100vw;
        margin: 0 auto !important;
        padding: 0;
    }
    .site-main .about-area .about-title{
        text-align: center;
    }
    .site-main .about-area .about-title h2{
        font-size: 32px;
    }
    .site-main .about-area .about-title .paragraph{
        font-size: 13px;
        margin: 0 10%;
    }

    .site-main .skills-area .container {
        max-width: 470px;
        padding: auto;
    }
    .site-main .skills-area .row{
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }
    .site-main .skills-area .skills-title{
        text-align: center;
    }
    .site-main .skills-area .title-text{
        font-size: 32px;
    }
    .site-main .skills-area .skills{
        display: block;
        width: 13rem;
        height: 25rem;
    }
    .site-main .skills-area .skills .skills-img{
        display: flex;
        justify-content: center;
    }
    .site-main .skills-area .skills .card-title{
        font-size: 18px;
    }
    .site-main .skills-area .skills .card-text{
        font-size: 13px;
    }

    .site-main .project-area .title-h1{
        font-size: 32px;
    }
    .site-main .project-area .title > h4 {
        font-size: 25px;
    }
    .site-main .project-area .title > span {
        font-size: 16px;
    }
    .site-main .project-area .button-group button {
        font: normal 500 9px/40px var(--hind);
        padding: 0 auto;
    }

    .site-main .contact-me .subscribe-title > h4{
        font-size: 32px;
        margin-bottom: 0;
    }
    .site-main .contact-me .subscribe-title > p{
        font-size: 14px;
        margin-bottom: 2rem;
    }
    .form-control.mb-3{
        font-size: 12px;
    }
    div.col.input-textbox{
        margin: 0;
    }
    button.btn.button.primary-button.float-right{
        margin: 0;
        font-size: 14px;
    }
    .site-main .contact-me {
        margin-bottom: 2rem;
    }

    footer.footer-area .social h5{
        font-size: 18px;
        padding: 0;
        margin: 0;
        border: 0;
    }
    
}

@media only screen and (max-width: 792px){

}

@media only screen and (max-width: 1910px){

}