@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat:wght@700&display=swap');

@import url(./partials/variables.css);

/* start nav */
#main-nav {
    position: fixed;
    top: 0;
    width:100%;
    background-color: white;
    box-shadow: var(--box-shadow);
    font-family: 'Hind', sans-serif;
    font-size: 1rem;
    color: var(--title-color);
    z-index: 999;
}

#main-nav.sticky {
    position: fixed;
    top: 0;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:target {
    position: relative;
    border-top: 103.975px solid transparent;
    margin:-103.975px 0 0;
    background-clip: padding-box;
}


.header_area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 3.5rem;
}

.header_area .main-menu .navbar {
    padding: 1rem 1rem;
}

.header_area .main-menu .nav-item .nav-link {
    font-family: var(--hind);
    text-transform: uppercase;
    padding: 1.5rem;
}

/*
.header_area .main-menu .navbar-nav .active {
    background: var(--primary-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -background-clip: text;
    transition: 0.4s;
}
*/

.header_area .main-menu .navbar-nav .nav-link.active {
    color: var(--primary-color);
    text-decoration: none;
}

.header_area .main-menu .navbar-nav .nav-link {
    color: var(--border-color);
    text-decoration: none;
}

.header_area .main-menu .navbar-nav .nav-link:hover{
    color: var(--secondary-color);
}

/* end nav */

/* start banner */
.site-main .site-banner .site-title h1{
    font-family: var(--montserrat);
    color: var(--title-color);
    padding-top: 40%;
    font-weight: 500;
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-family: var(--montserrat);
    font-weight: lighter;
    color: var(--primary-color);
    font-size: 1.9rem;
}

.site-main .site-banner .site-title p{
    font-family: var(--hind);
    color: var(--border-color);
    padding: .4rem 0;
}

.site-main .site-banner .banner-image >img {
    padding: 4rem 0;
    width: 300rem;
    margin-top: 103.975px;
    border-radius: 50%;
}

.button {
    padding: 0.8rem 2.2rem;
    font: normal 500 16px/ 20px var(--hind);
    position: relative;
    border: 3px solid transparent;
    border-radius: 4px;
}

.primary-button {
    margin-right: 10px;
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.primary-button:hover {
    background: whitesmoke;
    background-clip: padding-box;
    color: var(--title-color);
}

.primary-button::after {
    position: absolute;
    top: -2px; left:-2px;
    bottom: -2px; right: -2px;
    background: var(--gradient-color);
    content: '';
    z-index: -1;
    border-radius: 4px;
}

.secondary-button {
    margin-left: 10px;
    background: var(--gradient-color);
    background-clip: padding-box;
    color: whitesmoke;
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.secondary-button:hover {
    background: whitesmoke;
    background-clip: padding-box;
    color: var(--title-color);
}

.secondary-button::after {
    position: absolute;
    top: -2px; left:-2px;
    bottom: -2px; right: -2px;
    background: var(--gradient-color);
    content: '';
    z-index: -1;
    border-radius: 4px;
}
/* end banner */

/* start about */
.site-main .about-area {
    padding: 8rem 5rem 8rem 5rem;
}

.about-area .about-image {
    display: flex;
    justify-content: center;
}
.site-main .about-area .about-title > h2{
    display:block;
    font: normal bold 49px/60px var(--montserrat);
    font-weight: lighter;
    color: var(--title-color);
}

.site-main .about-area .about-title .paragraph > p{
    font-family: var(--hind);
    padding: .4rem 0;
    color: var(--border-color);
}
/* end about */

/* start skills area */
.site-main .skills-area {
    padding: 5rem 2rem;
}

.skills-area .skills-title >h1 {
    display: block;
    padding: 0;
    font-size: 49px;
    font-family: var(--montserrat);
    font-weight: lighter;
    color: var(--title-color);
}

.skills-area .skills .card-text >span {
    font-family: var(--hind);
    padding: 0;
    color: var(--border-color);
}

.skills-area .skills {
    background-color: rgba(248, 252, 253, 0.973);
    padding: 0;
    width: 16rem;
    height: 28rem;
    margin: 3rem 0.5rem;
    transition: box-shadow .7s ease;
}

.skills-area .skills:hover{
    box-shadow: var(--box-shadow);
}

.skills-area .card-title {
    display: block;
    padding: 0;
    font-family: var(--montserrat);
    font-weight: lighter;
    color: var(--title-color)
}

.skills-area .para {
    font-family: var(--hind);
    padding: 3rem;
    color: var(--border-color);
}
/* end skills area */

/* start project area */
.site-main .project-area{
    padding: 4rem 0;
}

.site-main .project-area .button-group button{
    background: transparent;
    border: none;
    font: normal 500 16px/130px var(--hind);
    color: var(--border-color);
    text-transform: uppercase;
}

.site-main .project-area .button-group button:hover{
    color: var(--secondary-color);
    transition: 0.3s;
}

.site-main .project-area .button-group button+button{
    padding-left: 3rem;
}

.site-main .project-area .title-h1 {
    display: block;
    padding: 0;
    font-size: 49px;
    font-family: var(--montserrat);
    font-weight: lighter;
    color: var(--title-color);
}

.site-main .project-area .grid .our-project >.title .linkout:hover{
    color: var(--primary-color) !important;
    text-decoration: none;
}

.site-main .project-area .grid .our-project >.title h4{
    font: normal 700 25px/12px var(--montserrat);
    color: var(--border-color);
}

.site-main .project-area .grid .our-project >.title span{
    font-family: var(--hind);
}

.site-main .project-area .grid .our-project .img a:hover img{
    filter:brightness(1.1) drop-shadow(1px 8px 30px #b1afaf);
}

button:focus,
button:active
button:hover
.btn:active,
.btn.active{
    outline: 0px !important;
    box-shadow: none !important;
}
/* end project area */

/* start footer area */
footer.footer-area{
    padding: 1rem;
    /* background: var(--gradient-color); */
}

footer.footer-area .social h5{
    font: normal 500 23px/30px var(--montserrat);
    color: var(--border-color);
}

footer.footer-area .social a>i {
    font-size: 27px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover>i {
    color: var(--primary-color);
}
/* end footer area */

/* start contact me */
.site-main .contact-me {
    padding: 3rem 2rem 5rem 2rem;
}

.site-main .contact-me .heading{
    display:block;
    font: normal bold 49px/60px var(--montserrat);
    font-weight: lighter;
    color: var(--title-color);
}

.site-main .contact-me .para {
    font-family: var(--hind);
    font-size: 1rem;
    padding: 1px 0;
    color: var(--border-color);
}

input[type=text] {
    padding: 8px 8px 4px 8px;
    border-radius: 12px; 
    font-family: var(--hind);
    color: var(--border-color);
  }
input[type=text]:focus{
    outline: none;      
    box-shadow: 0 0 0 2px var(--primary-color); 
    font-family: var(--hind);
    color: var(--border-color);
  }

  input[type=email] {
    padding: 8px 8px 4px 8px;
    border-radius: 12px; 
    font-family: var(--hind);
    color: var(--border-color);
  }
input[type=email]:focus{
    outline: none;      
    box-shadow: 0 0 0 2px var(--primary-color); 
    font-family: var(--hind);
    color: var(--border-color);
  }

textarea[type=message] {
    padding: 8px 8px 4px 8px;
    border-radius: 12px; 
    font-family: var(--hind);
    color: var(--border-color);
  }
textarea[type=message]:focus{
    outline: none;      
    box-shadow: 0 0 0 2px var(--primary-color); 
    font-family: var(--hind);
    color: var(--border-color);
  }

div.col.input-textbox{
    margin-left: 25%;
    margin-right: 25%;
}
button.btn.button.primary-button.float-right{
    margin-left: 25%;
    margin-right: 25%;
}

/* end contact me */