@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(./partials/variables.css);

/* start nav */
#main-nav {
    position: fixed;
    top: 0;
    width:100%;
    background-color: var(--green-color);
    box-shadow: var(--box-shadow);
    font-family: var(--ro);
    font-size: 1rem;
    color: var(--white-color);
    z-index: 999;
}

#main-nav.sticky {
    position: fixed;
    top: 0;
}

@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

:target {
    position: relative;
    border-top: 103.975px solid transparent;
    margin:-103.975px 0 0;
    background-clip: padding-box;
}


.header_area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 0;
}

.header_area .main-menu .navbar {
    padding: 1rem 1rem;
}

.header_area .main-menu .nav-item .nav-link {
    font-family: var(--roboto);
    text-transform: uppercase;
    padding: 1rem 0 0 2rem;
}

.nav-login {
    position: relative;
    display: inline-block;
  }
  
.nav-login .navbar-img-hover {
    display: none;
  }
  
.nav-login:hover .navbar-img-nohover {
    display: none;
  }
  
.nav-login:hover .navbar-img-hover {
    display: inline;
  }

.header_area .main-menu .navbar-nav .nav-link {
    color: var(--white-color);
    text-decoration: none;
}

.header_area .main-menu .navbar-nav .nav-link:hover{
    color: var(--olive-color);
    font-weight: bold;
}

.header_area .main-menu .navbar-nav .nav-link:active {
    color: var(--olive-color);
    font-weight: bold;
}

.nav-login-icon{
    margin: 0 1.5rem 0 0;
}

.dropdown-menu{
    background-color: var(--white-color);
    margin: 1.4rem 0 0 0;    
}

.dropdown-item{
    font-family: var(--roboto);
    color: var(--green-color);
}

.dropdown-item:hover{
    background-color: var(--olive-color);
    color: var(--white-color);
    font-family: var(--roboto);
}

/* end nav */

/* start home */
.site-main .site-banner {
    background: url(/images/recycling\ kids.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--white-color);
    margin-bottom: 5%;
    padding-bottom: 15%
}

.site-main .site-banner .site-title h1{
    font-family: var(--poppins);
    color: var(--brown-color);
    padding-top: 25%;
    padding-right:30%;
    font-weight: 800;
    font-size: 5rem;
}

.site-main .site-banner .site-title h4{
    font-family: var(--roboto);
    font-stretch: extra-condensed;
    font-weight: 300;
    padding: 1rem 5rem 1rem 0;
    margin: 0 10% 0 0;
    color: var(--brown-color);
    font-size: 1.5rem;
}

.site-main .site-banner .banner-image >img {
    padding: 4rem 0;
    width: 300rem;
    margin-top: 103.975px;
    border-radius: 50%;
}

.primary-button {
    padding: 0.8rem 2.2rem;
    font: normal 500 16px/ 20px var(--poppins);
    position: relative;
    border-color: var(--green-color);
    border-radius: 30px;
    background: var(--green-color);
    background-clip: padding-box;
    color: var(--white-color);
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.primary-button:hover {
    background: var(--white-color);
    background-clip: padding-box;
    border-color: var(--green-color);
    border-radius: 30px;
    color: var(--darkbrown-color);
}

.primary-button::after {
    position: absolute;
    top: -2px; left:-2px;
    bottom: -2px; right: -2px;
    border-color: var(--green-color);
    border-radius: 30px;
    content: '';
    z-index: -1;
    border-radius: 4px;
}
/* end banner */

/* start about */
.site-main .about-us {
    padding: 10% 0 20% 3.5%;
}

.site-main .about-us .about-us-img {
    display: flex;
    justify-content: center;
    padding-left: 9%;
}

.site-main .about-us .about-us-text{
    font-family: var(--roboto);
    font-size: larger;
    text-align: justify;
    padding: 1rem 0;
    color: var(--brown-color);
}
/* end about */

/* start recycling area */
.site-main .start-recycling-area {
    padding: 3rem 0 8rem 0;
}

.start-recycling-area .start-recycling-title >h1 {
    display: block;
    padding: 0;
    font-size: 50px;
    font-family: var(--poppins);
    font-weight: bold;
    color: var(--brown-color);
    text-align: center;
}

.start-recycling-area .recyclable-items {
    background-color: rgba(84, 85, 82, 0.6);
    padding: 0;
    width: 100%;
    max-width: 16rem;
    height: 28rem;
    margin: 3rem auto;
    transition: all .3s ease;
    box-sizing: border-box;
}

.start-recycling-button{
    text-decoration: none;
}

.start-recycling-button:hover {
    text-decoration: none;
}

.start-recycling-area .recyclable-items:hover{
    background-color: var(--brown-color);
}

.start-recycling-area .recyclable-items .recyclables-img {
    padding: 3rem 0;
    display: inline-block;
    margin: 6rem 5rem 1rem 5rem;
    transition: margin 0.3s ease;
}

.start-recycling-area .recyclable-items:hover .recyclables-img {
    margin: 3rem 5rem 1rem 5rem;
}

.start-recycling-area .card-title {
    display: block;
    padding: 0;
    font-family: var(--poppins);
    font-weight: bold;
    color: var(--white-color);
    text-align: center;
}

.start-recycling-area .recyclable-items .card-text{
    font-family: var(--roboto);
    text-align: center;
    padding: 0.5rem;
    opacity: 0; /* Initially hidden */
    visibility: hidden; /* Initially hidden */
    transition: opacity .3s ease, visibility .3s ease; /* Smooth transition */
}

.start-recycling-area .recyclable-items:hover .card-text {
    opacity: 1; /* Show text on hover */
    visibility: visible; /* Make text visible on hover */
}

.start-recycling-area .recyclable-items .card-text >span{
    color: var(--white-color)
}
/* end recycling area */

/* start recycling tips area */
.recycling-tips-header >h1{
    font-family: var(--poppins);
    color: var(--brown-color);
    font-weight: bold;
    font-size: 3rem;
    display: block;
    text-align: center;
    padding: 1rem 0 1.5rem 0;
}

.recycling-tips-container >h1{
    font-family: var(--poppins);
    font-weight: bold;
    display: block;
}

.recycling-tips-container >p{
    font-family: var(--roboto);
    font-size: larger;
    font-weight: bold;
    display: block;
}

.recycling-tips-btn{
    padding: 0.8rem 2.2rem;
    font: normal 500 16px/ 20px var(--poppins);
    position: relative;
    border-color: var(--white-color);
    border-radius: 30px;
    background: var(--green-color);
    background-clip: padding-box;
    color: var(--white-color);
    transition: background .6s ease;
    box-shadow: var(--box-shadow);
}

.recycling-tips-btn:hover {
    background: var(--white-color);
    background-clip: padding-box;
    border-color: var(--green-color);
    border-radius: 30px;
    color: var(--darkbrown-color);
}

.recycling-tips-btn::after {
    position: absolute;
    top: -2px; left:-2px;
    bottom: -2px; right: -2px;
    border-color: var(--green-color);
    border-radius: 30px;
    content: '';
    z-index: -1;
    border-radius: 4px;
}

.carousel-item{
    height:40rem;
    background: var(--darkbrown-color);
    color: var(--white-color);
    position: relative;
    background-position: center;
    background-size: cover;
}

.recyling-tips-container{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10% 0 5% 10%;
}

.overlay-image{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    opacity: 0.4;
}

/* start footer area */
footer.footer-area{
    padding: 1rem;
    /* background: var(--gradient-color); */
}

footer.footer-area .social h5{
    font: normal 500 23px/30px var(--montserrat);
    color: var(--border-color);
}

footer.footer-area .social a>i {
    font-size: 27px;
    padding: 2rem;
    color: var(--border-color);
}

footer.footer-area .social a:hover>i {
    color: var(--primary-color);
}
/* end footer area */

/* start contact me */
.site-main .contact-me {
    padding: 3rem 2rem 5rem 2rem;
}

.site-main .contact-me .heading{
    display: block;
    font: var(--poppins);
    font-size: 3rem;
    font-weight: bolder;
    color: var(--darkbrown-color);
}

.site-main .contact-me .para {
    font-family: var(--roboto);
    font-size: 1.1rem;
    padding: 0;
    color: var(--darkbrown-color);
}

input[type=text] {
    padding: 8px 8px 4px 8px;
    border-radius: 12px; 
    font-family: var(--roboto);
    color: var(--darkbrown-color);
  }
input[type=text]:focus{
    outline: none;      
    box-shadow: 0 0 0 2px var(--primary-color); 
    font-family: var(--roboto);
    color: var(--green-color);
  }

  input[type=email] {
    padding: 8px 8px 4px 8px;
    border-radius: 12px; 
    font-family: var(--roboto);
    color: var(--darkbrown-color);
  }
input[type=email]:focus{
    outline: none;      
    box-shadow: 0 0 0 2px var(--primary-color); 
    font-family: var(--roboto);
    color: var(--green-color);
  }

textarea[type=message] {
    padding: 8px 8px 4px 8px;
    border-radius: 12px; 
    font-family: var(--roboto);
    color: var(--darkbrown-color);
  }
textarea[type=message]:focus{
    outline: none;      
    box-shadow: 0 0 0 2px var(--primary-color); 
    font-family: var(--roboto);
    color: var(--green-color);
  }

div.col.input-textbox{
    margin-left: 25%;
    margin-right: 25%;
}
button.btn.button.primary-button.float-right{
    margin-left: 25%;
    margin-right: 25%;
}

/* end contact me */