@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


body {
    background-color: #F7FFED;
    margin: 0;
    padding: 0;
    padding-top: 150px;
    

}
.navbarcontainer {
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 999; 
    box-shadow: var(--box-shadow);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    color: #181818;
    opacity: 0.8;
  }

.proceed-button {
    position: fixed;
    bottom: 5px;
    right: 20px;
    border-radius: 18px;
    padding: 4px 15px;
    background-color: #4E7A6A;
    color: white;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}



  .recycling-guide {
    position: absolute;
    top: 25px;
    right: 20px;
    padding: 7px 18px;
    background-color: #4E7A6A;
    color: white;
    cursor: pointer;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    border-radius: 18px;
   
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.column {
    position: relative;
    flex: 1 1 calc(33.33% - 10px);
    margin: 10px 0;
    text-align: center;
    max-width: 450px;
    max-height: calc (50vh-10px);
}

.image-container {
    position: relative;
    width: 100%;
}

.column img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hover-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.column:hover .hover-overlay {
    opacity: 1;
}

.hover-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
    font-weight: bold;
    opacity: 0;
    z-index: 2;
    transition: opacity 0.3s ease;
}

.column:hover .hover-text {
    opacity: 1;
}

.category-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    z-index: 3; 
}

label {
    margin-right: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    color: #181818;
    opacity: 0.8;
}

input[type="checkbox"] {
    transform: scale(2); 
    cursor: pointer; 
}