@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


body {
    font-family: Arial;
    background-color: #F7FFED;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 75px;
    color: #181818;
    opacity: 0.8;
}

.container {
    max-width: 850px;
    margin: auto;
    background-color: #f7ffed;
}


.eachbookmark {
    background-color: #ffffff;  
    padding: 18px; 
    border: 2px solid grey;   
    border-radius: 10px;             
    margin-bottom: 30px;                 
    box-shadow: 0 8px 6px #888888; 
                 
}

.username { 
    font-size: 18px; 
    font-weight: bold;          
    color: #181818;  
    opacity: 0.8;
    margin-bottom: 6px;        
}

.text {
    font-size: 18px;           
    color: #181818;                
}